/* ///////////////////////index.html/////////////////////////// */

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
    background-color: #47618c;
    /* color: #ffffff; */
    background-size: cover;
    /* background-image: url("assets/Bar_Pic1.jpeg"); */
}
.bg-1 h3 {
  font-family: cursive;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

/* .bg-2 h3,
.bg-2 p {
  font-family: cursive;
} */
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

#firstContainer {

}

#secondContainer {

  /* background-repeat: round; */
  background-image: url("../assets/2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  /* background-size: cover; */
}

#footerMain {
  /* background-image: url("../assets/Bottles.jpg"); */



}

#submitIngBtn {

}

/* ///////////////////////////Drank.html/////////////////////////// */

/* .container {  */
  /* padding: 0;
  margin: 0;
  position: relative; */
/* } */

video#bg-video {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;

}

.jumbotron.jumbotron-transparent {
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  margin-top: 20%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#gradientButton {
  color: white;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,200,0,1));
}
.jumbotron {
}
/* div.jumbovidtext{
  position: absolute;
  top: 35%;
  left: 50%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 14px;

} */

.jumbotron.jumbotron-transparent h1 {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 80px;
}

.jumbotron.jumbotron-transparent p {
  padding-bottom: 7px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* //////////////////////////////////////////////////////////// */
